*
 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2;
}

.calculator-body {
    /* display: flex;
    flex-wrap: wrap; */
    max-width: 400px;
    min-height: 600px;
    background-color: #262626;
    margin: 80px auto;
    padding: 30px;
    border-radius: 20px;
}

.display {
    height: 80px;
    margin-bottom: 20px;
    /* width: 100%; */
    font-size: 36px;
    color: #fff;
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.key {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.num {
    background: #3a3a3a;
    color: #fff;
}

.operator {
    background: #ff9500;
    color: #fff;
}

.action {
    background: #6e6e6e;
    color: #000;
}

.clear {
    grid-column: span 2;
    aspect-ratio: auto;
    border-radius: 40px;
    background: #6e6e6e;
    color: #000;
}

.equals {
    grid-column: span 2;
    aspect-ratio: auto;
    border-radius: 40px;
    background: #ff9500;
    color: #fff;
}